{% extends 'base.html' %}

{% block content %}

<h3 class="mb-4">Student Dashboard</h3>

<div class="card p-3 shadow-sm mb-4">

    <h5 class="mb-3">Available Jobs</h5>

    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">

            <thead class="table-dark">
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.company.company_name }}</td>

                    <td>
                        <a href="/student/apply/{{ job.id }}" class="btn btn-primary btn-sm">
                            Apply
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>

<div class="card p-3 shadow-sm text-center">
    <a href="/student/applications" class="btn btn-success">
        View My Applications
    </a>
</div>

{% endblock %}