<h2>My Applications</h2>

{% extends 'base.html' %}

{% block content %}

<h2>Student Dashboard</h2>

<div class="card">

    <h3>Available Jobs</h3>

    <table>
        <tr>
            <th>Job Title</th>
            <th>Company</th>
            <th>Action</th>
        </tr>

        {% for job in jobs %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.company.company_name }}</td>

            <td>
                <a href="/student/apply/{{ job.id }}" class="button-link">
                    Apply
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

<br>

<div class="card">
    <a href="/student/applications" class="button-link">
        View My Applications
    </a>
</div>

{% endblock %}