{% extends 'base.html' %}

{% block content %}

<h3 class="mb-3">Companies</h3>

<div class="card p-3 shadow-sm">

    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">

            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Industry</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for c in companies %}
                <tr>
                    <td>{{ c.company_name }}</td>
                    <td>{{ c.industry }}</td>

                    <td>
                        {% if c.user.is_approved %}
                            <span class="badge bg-success">Approved</span>
                        {% else %}
                            <span class="badge bg-warning text-dark">Pending</span>
                        {% endif %}
                    </td>

                    <td>
                        <a href="/admin/company/approve/{{ c.user_id }}" class="btn btn-success btn-sm">Approve</a>
                        <a href="/admin/company/reject/{{ c.user_id }}" class="btn btn-danger btn-sm">Reject</a>
                        <a href="/admin/company/deactivate/{{ c.user_id }}" class="btn btn-secondary btn-sm">Deactivate</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>

{% endblock %}