{% extends 'base.html' %}

{% block content %}

<h2>Companies</h2>

<table>
<tr>
    <th>Name</th>
    <th>Industry</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for c in companies %}
<tr>
    <td>{{ c.company_name }}</td>
    <td>{{ c.industry }}</td>

    <td>
        {% if c.user.is_approved %}
            <span class="status-approved">Approved</span>
        {% else %}
            <span class="status-pending">Pending</span>
        {% endif %}
    </td>

    <td>
        <a href="/admin/company/approve/{{ c.user_id }}" class="button-link">Approve</a>
        <a href="/admin/company/reject/{{ c.user_id }}" class="button-link">Reject</a>
        <a href="/admin/company/deactivate/{{ c.user_id }}" class="button-link">Deactivate</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}