{% extends 'base.html' %}

{% block content %}

<h2>Admin Dashboard</h2>

<div class="card">
    <p><b>Total Students:</b> {{ students }}</p>
    <p><b>Total Companies:</b> {{ companies }}</p>
    <p><b>Total Jobs:</b> {{ jobs }}</p>
    <p><b>Total Applications:</b> {{ applications }}</p>
</div>

<div class="card">
    <a href="/admin/companies" class="button-link">Manage Companies</a>
    <a href="/admin/jobs" class="button-link">Manage Jobs</a>
    <a href="/admin/students" class="button-link">View Students</a>
</div>
<div class="card chart-card">
    <h3>System Overview</h3>

    <div class="chart-container">
        <canvas id="adminChart"></canvas>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const data = JSON.parse('{{ [jobs, applications, placements] | tojson }}');

    new Chart(document.getElementById('adminChart'), {
        type: 'bar',
        data: {
            labels: ['Jobs', 'Applications', 'Placements'],
            datasets: [{
                label: 'Count',
                data: data,
                backgroundColor: [
                    '#3498db',
                    '#f39c12',
                    '#2ecc71'
                ],
                borderRadius: 8
            }]
        },
        options: {
            plugins: {
                legend: { display: false }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

});
</script>

{% endblock %}