{% extends 'base.html' %}

{% block content %}

<h2>Jobs</h2>

<table>
<tr>
    <th>Title</th>
    <th>Company</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for j in jobs %}
<tr>
    <td>{{ j.title }}</td>
    <td>{{ j.company.company_name }}</td>

    <td>
        {% if j.is_approved %}
            <span class="status-approved">Approved</span>
        {% else %}
            <span class="status-pending">Pending</span>
        {% endif %}
    </td>

    <td>
        <a href="/admin/job/approve/{{ j.id }}" class="button-link">Approve</a>
        <a href="/admin/job/reject/{{ j.id }}" class="button-link">Reject</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}