{% extends 'base.html' %}

{% block content %}

<h2>Create Job</h2>

<div class="card">

<form method="POST">

    <label>Job Title:</label>
    <input type="text" name="title" required>

    <label>Description:</label>
    <input type="text" name="description" required>

    <label>Skills Required:</label>
    <input type="text" name="skills">

    <label>Salary Range:</label>
    <input type="text" name="salary">

    <label>Job Type:</label>
    <input type="text" name="job_type">

    <label>Location:</label>
    <input type="text" name="location">

    <br>
    <button type="submit">Create Job</button>

</form>

</div>

{% endblock %}