{% extends 'base.html' %}

{% block content %}

<div class="card">

    <h2>Register</h2>

    <form method="POST" enctype="multipart/form-data">

        <!-- Basic Info -->
        <label>Name:</label>
        <input type="text" name="name" required>

        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <!-- Role -->
        <label>Role:</label>
        <select name="role" required>
            <option value="student">Student</option>
            <option value="company">Company</option>
        </select>

        <hr>

        <!-- Student Section -->
        <h3>Student Details</h3>

        <label>Branch:</label>
        <input type="text" name="branch">

        <label>Year of Passing:</label>
        <input type="number" name="year">

        <label>CGPA:</label>
        <input type="text" name="cgpa">

        <label>Resume:</label>
        <input type="file" name="resume">

        <hr>

        <!-- Company Section -->
        <h3>Company Details</h3>

        <label>Company Name:</label>
        <input type="text" name="company_name">

        <label>Industry:</label>
        <input type="text" name="industry">

        <br>

        <button type="submit">Register</button>

    </form>

    <br>

    <p>Already have an account?</p>
    <a href="/login" class="button-link">Login</a>

</div>

{% endblock %}